*{
    margin: 0;
    padding: 0;
}

#main-container,#main-container2,#main-container3{
    padding: 0 15% 0 15%;
    font-family: "Roboto", sans-serif;
}

#main-container{
    background-color: #1F2937;
    color: white;
}

#main-container2 {
    background-color: white;
    color: #1F2937;
    
}

#main-container3 {
    padding: 5% 25% 5% 25%;
    background-color: #e5e7e5;
    color: #1F2937;

}

/* .roboto-<uniquifier> {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
} */
a{
    color: white;
}
/* div#test{
    background-color: grey;
} */

/* Navigation section */
div.container{
    /* background-color: grey; */
    display: flex;
    padding: 20px 0 0 0 ;
}

div.flex1{
    flex: 3;
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 800;
}

div.flex2 {
    flex: 2;
}
nav.container{
    display: flex;
    align-content:space-between;
}
a.header-links,div.hero-subheading{
    text-decoration: none;
    flex: 1;
    font-size: 18px;
    font-weight:300;
    color: #E5E7EB;
}

/* Hero section */

div.row-container,div.signup-row-container{
    display: flex;
    align-items:normal;
    align-content:flex-start;
    padding: 5% 0 5% 0;
    height: 250px;
}

div.column1,div.column2{
    flex: 1;
}

div.column1{
    display:flex;
    /* background-color: green; */
    flex-direction: column;
    align-items:flex-start;
    margin-right: 10%;
}
div.hero-heading,div.hero-subheading,div.hero-button{
    flex: 1;
    padding: 5px;
}

div.hero-heading{
    font-size: 48px;
    font-weight: 900;
}

button.hero-button{
    font-size: 14px;
    font-weight:600;
    color: #E5E7EB;
    padding: 5px 15px;
    background-color: #3882F6;
    border-radius:10px;
    border-style:none;
}

div.column2{
    flex: 1;
    display: flex;
    background-color: grey;
    /* flex-direction: column; */
    align-items: center;
}

/* some random information section */

div.column-container{
    /* background-color: green; */
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5% 0 5% 0 ;
}

div.row1{
    font-size: 36px;
    font-weight: 900;
    margin-bottom: 5%;
}

div.rounded-blue-box{
    color: white;
    height: 150px;
    width: 150px;
    border: #3882F6;
    border-radius: 10%;
    border-style:solid;
    margin-bottom: 10px;
}
div.row2{
    /* width: 75%; */
    display: flex;
    flex: 1;
    flex-direction: row;
    align-content: center;
}

div.image-with-caption{
    width: 150px;
    margin:20px;
}

/* testimonial section */
div.testimonial{
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
    font-style: italic;
}

/* sign up section */
div.signup-row-container{
    margin: 100px 0px;
    height: 50px;
    flex: 1;
    display: flex;
    background-color: #3882F6;
    border-radius: 30px;
    border-style: solid;
}

div.signup-button, div.signup-column-container{
    margin: auto;
}

div.call-to-action{
    font-size: 16px;
    font-weight: 700;
    padding-bottom: 5px;
}

div.call-to-action-subsection{
    font-size: 14px;
    font-weight:300;
}


button.signup-button{
    background-color: #3882F6;
    border-radius: 10px;
    border-style: solid;
    padding: 5px 20px;
    border-color: white;
    color: white;
}

